body {
    background-color:blanchedalmond;
}

.navbarname {
    
    float: left;
    text-align: center;
    vertical-align: middle;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 2rem;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    color:coral;
}

.navbar {
    background-color: gainsboro;
    overflow: hidden;
    min-height: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    margin-left: -8px;
    margin-right: -8px;
    position: fixed;
    top: 0;
    min-width: 99.4%;
    
}

nav {
    float: right;
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 22px;
    padding-right: 20px;
    padding-bottom: 20px;
    color:darkslategray;
}

a {
    padding-left: 8px;
    padding-right: 8px;
    color:deepskyblue;
}

main {
    margin-top: 120px;
    color:brown
    
}

h1, h2, section {
    margin-left: 20px;

}

.project {
    margin-top: 20px;
    
}

input {
    width: 200px;
    height: 20px;
    margin-left: 700px;
    margin-top: 50px;
    margin-bottom: -30px;
    display: block;
}

.submit {
    background-color: goldenrod;
    height: 25px;
    width: 100px;
    margin-left: 750px;
    
}


